<% var isFirstItem = true; %>
  <% _.each(data, function(coverage, provider) ***REMOVED*** %>
    <ul class="accordion row" data-accordion>
      <li class="accordion-navigation">
        <a href="<%= '#' + parameterize(provider) %>">
          <%= provider %>
        </a>
        <div id="<%= parameterize(provider) %>" class="content row
        <% if(isFirstItem)***REMOVED*** %>
          <% isFirstItem = false; %>
           active
         <% ***REMOVED*** %>">
          <% _.each(coverage, function(counties, state) ***REMOVED*** %>
            <% var providerSlug = parameterize(provider); %>
            <table class="large-12 columns">
              <thead>
                <tr>
                  <th class="large-10 columns">
                    <h3><%= STATE_LOOKUP[state] %></h3></th>
                  <th class="switch tiny">
                    <input id="<%= state + '-' + providerSlug + '-toggle' %>" class="state-toggle" type="checkbox" <% if(_.some( counties, function( el ) ***REMOVED*** return el.is_active;***REMOVED***))***REMOVED*** %> checked
                    <% ***REMOVED*** %>>
                      <label for="<%= state + '-' + providerSlug + '-toggle' %>"></label>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% _.each(counties, function(val, index) ***REMOVED*** %>
                  <tr>
                    <td>
                      <%= val.county_name %>
                    </td>
                    <td class="switch tiny">
                      <input id="<%= val.id %>"
                             class="<%= state + '-' + providerSlug + '-toggle-input' %> county-toggle" data-state-toggle-id="<%= state + '-' + providerSlug + '-toggle' %>"
                             type="checkbox"
                             <% if(val.is_active)***REMOVED*** %>
                               checked
                             <% ***REMOVED*** %>>
                        <label for="<%= val.id %>"></label>
                    </td>
                  </tr>
                  <% ***REMOVED***) %>
              </tbody>
            </table>
            <% ***REMOVED***) %>
              </div>
      </li>
    </ul>
    <% ***REMOVED***) %>
