<%=partial 'partials/nav' %>
<%=partial 'partials/variables' %>

<svg id="svg-map" width="960" height="600"></svg>
<button id="save">Save image</button>

<%= javascript_include_tag  'https://d3js.org/d3.v4.min.js' %>
<%= javascript_include_tag  'https://d3js.org/d3-scale-chromatic.v1.min.js' %>
<%= javascript_include_tag  'https://d3js.org/topojson.v2.min.js' %>
<%= javascript_include_tag  'map_gen' %>
