<%=partial 'partials/nav' %>
<%=partial 'partials/variables' %>

<div class="left">
  <div id="loading-animation">
    <div class="animation-container"><div class="loader"></div></div>
    <span>loading data</span>
  </div>
  <svg id="svg-map" width="900" height="800" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"></svg>
  <canvas id="canvas" width="900" height="800" style="display:none"></canvas>
</div>

<div class="right-bar">
  <div id="form"></div>
  <button id="form-submit">Submit</button>
  <button id="save">Save image</button>
  <div class="stats">
    <!-- <h1>Number of insurers per county:</h1> -->
    <table>
      <thead>
        <tr>
          <th>Insurers</th>
          <th>Counties</th>
          <th>Subscribers<sup>*</sup></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>0</td>
          <td id='counties-0'></td>
          <td id='subscribers-0'></td>
        </tr>
        <tr>
          <td>1</td>
          <td id='counties-1'></td>
          <td id='subscribers-1'></td>
        </tr>
        <tr>
          <td>2</td>
          <td id='counties-2'></td>
          <td id='subscribers-2'></td>
        </tr>
        <tr>
          <td>3+</td>
          <td id='counties-3'></td>
          <td id='subscribers-3'></td>
        </tr>
      </tbody>
    </table>
    <p class='small'><sup>*</sup> - Best estimate based on data from <a href='https://aspe.hhs.gov/basic-report/plan-selections-zip-code-and-county-health-insurance-marketplace-march-2016'>ASPE</a></p>
  </div>
</div>

<%= javascript_include_tag  'https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.8/handlebars.min.js' %>
<%= javascript_include_tag  '//code.cloudcms.com/alpaca/1.5.23/bootstrap/alpaca.min.js' %>
<%= javascript_include_tag  'https://d3js.org/d3.v4.min.js' %>
<%= javascript_include_tag  'https://d3js.org/d3-scale-chromatic.v1.min.js' %>
<%= javascript_include_tag  'https://d3js.org/topojson.v2.min.js' %>
<%= javascript_include_tag  'map_gen' %>
