<%=partial 'partials/variables' %>
<%=partial 'partials/nav' %>
<script>
  var COUNTIES_BY_STATE = <%= data.counties_by_state.to_json%>;
</script>
<div class="alertHolder"></div>

<section id="intro" class="row">
  <a id='back' href="./providers">Back to provider listing</a>
  <h2>Add new records</h2>
  <p>
    Use the form below to add new coverage data.
  </p>
  <p>
    Please make sure that the data does not already exist before adding. It is highly recommended that you spell the provider the same each time.
  </p>
  <p>
    Use + button to add more rows of data and &#215; to remove a row.
  </p>
</section>

<section id="createForm" class="row">
  <div id="plusdiv" class="row"><a href='#' class='add'>+</a></div>
</section>

<div class="row">
  <a href="#" class="button right saveRecord">Publish</a>
</div>
<%= javascript_include_tag  'add_providers' %>
<%=partial 'partials/loader' %>
