<%=partial 'partials/variables' %>
<%=partial 'partials/nav' %>
<article class="article" role="article">
  <div class="alertHolder"></div>
  <%=partial 'partials/provider-intro' %>
  <%=partial 'partials/provider-controls' %>
  <section id="provider-dash" class="body"></section>
  <%=partial 'partials/loader' %>
</article>
<%=partial 'partials/vox/chorus-footer' %>
<%= javascript_include_tag  'group_management' %>
